[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
todo = {editable = true, path = "."}
mypy = "*"
radon = "*"
pynocle = "*"
cohesion = "*"
pydeps = "*"

[requires]
python_version = "3.10"
