[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bite-di = {ref = "main", git = "https://github.com/opengeekv2/bite_di.git"}

[dev-packages]
pytest = "*"
mypy = "*"
radon = "*"
cohesion = "*"
pydeps = "*"
module-coupling-metrics = "*"

[requires]
python_version = "3.10"
